
<div class="container">
    <div>
        <h2>Cargar productos</h1>
            <br>
            
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo:</label>
                    <input type="text" class="form-control" id="titulo" placeholder="ingresar Titulo">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Descripcion:</label>
                    <input type="text" class="form-control" id="descripcion" placeholder="ingresar descripcion">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Categoria:</label>
                    <input type="text" class="form-control" id="categoria" placeholder="ingresar categoria">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Codigo:</label>
                    <input type="text" class="form-control" id="codigo" placeholder="ingresar codigo">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput5" class="form-label">precio:</label>
                    <input type="text" class="form-control" id="precio" placeholder="ingresar precio">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput6" class="form-label">stock:</label>
                    <input type="text" class="form-control" id="stock" placeholder="ingresar stock">
                </div>
            
            <div>
                <button id="btn" type="submit" class="btn btn-outline-secondary">Agregar Producto</button>
            </div>
    </div>

    <div>
        <h2>Lista de Productos</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITULO</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">CATEGORIA</th>
                        <th scope="col">CODIGO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">STOCK</th>
                        
                    </tr>
                </thead>
                <tbody id="productsTable">
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<script src="/static/js/script.js"></script>







